/* Animations */

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

div {
  display: inline-block;
}

/* Div-Boxes */

.answerWrapper {
  width: 150px;
  border: 1px solid teal;
  height: 150px;
}

#multipleChoice,
#dragdropBox,
#dragdropContainer {
  display: block;
}

#touchMover {
  position: fixed;
  display: none;
  width: 150px;
  height: 150px;
}

.rightAnswer {
  background-color: green;
}

.wrongAnswer {
  background-color: red;
}

.hint {
  background-color: lightgreen;
}


/* Images */

img {
  width: 100px;
  height: 100px;
}

/* Canvas */
canvas {
  position: absolute;
  top: 0;
  left: 0;
}